<a href="{% url 'timetable:main' user_id=user.id %}">MAIN</a>
<h1> Table {{table.id}} </table></h1>
<h2>장바구니에 있는 과목</h2>
{% if table_subject_time_list %}
<ol>
    {% for tablesubject in table_subject_time_list %}
    <li>
        {{ tablesubject.0.id }}
        {{ tablesubject.0.name }}
        {{ tablesubject.0.select_person }}
        <div>
            {% for time in tablesubject.1 %}
            {{ time.day }} {{ time.start_time }}~{{ time.fin_time }}
            {% endfor %}
        </div>
        <a href="{% url 'timetable:del_table_one_subject' user_id=user.id table_id=table.id subject_id=tablesubject.0.id %}">
            삭제하기!!
        </a>
    </li>
    {% endfor %}
</ol>

{% else %}
<p>장바구니: 과목 없음</p>
{% endif %}

<h2>전체 과목</h2>
{% if all_subject_time_list %}
<ul>
    {% for subject in all_subject_time_list %}
    <li>
        {{ subject.0.id }}
        {{ subject.0.name }}
        {{ subject.0.select_person }}명 선택
        <div>
            {% for time in subject.1 %}
                {{ time.day }} {{ time.start_time }}~{{ time.fin_time }}
            {% endfor %}
        </div>
        <a href="{% url 'timetable:add_table_one_subject' user_id=user.id table_id=table.id subject_id=subject.0.id %}">
            ADD
        </a>
    {% endfor %}
    </li>

</ul>

{% else %}
<p>전체: 과목 없음</p>
{% endif %}