@media only screen and (max-width:650px) {
    #no_show {
        display: none;
    }
    #view_write_alarm {
        border-radius: 3px;
        border-top-left-radius: 0%;
        border-bottom-left-radius: 0%;
        padding: 5px;
        color: white;
        font-size: 6px;
        font-weight: 50;
        background-color: #ff8800;
        border: none;
        position: fixed;
        z-index: 5;
        width: 20px;
        height: 120px;
    }
    #alarms {
        background-color: rgb(218, 218, 218);
        color: black;
        font-size: 5px;
        text-align: left;
        margin-bottom: 20px;
        border-radius: 5px;
        border-top-left-radius: 0%;
        border-bottom-left-radius: 0%;
        padding: 5px;
        padding-top: 0;
        padding-bottom: 0;
        position: fixed;
        margin-left: 16px;
        z-index: 4;
        height: 120px;
        text-align: left;
        width: 230px;
    }
    #table1 {
        display: none;
    }
    #table2 {
        position: relate!important;
    }
    #myCanvas1 {
        display: none;
        z-index: 2;
    }
    #myCanvas3 {
        display: none;
        z-index: 3;
    }
    #myCanvas2 {
        position: absolute;
        z-index: 2;
    }
    #outer_btn_right {
        display: none;
    }
    #view_write_review {
        padding: 2px;
        border: 1px solid white;
        border-radius: 5px;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        font-weight: 1000;
        font-size: 6px;
        color: #ffffff;
        text-align: center;
        transition: all 0.2s;
        width: 60px;
        height: 25px;
        background-color: #ff8800;
    }
    #view_write_review:hover {
        color: #ffffff;
        background-color: #ff8800;
    }
    #clickToView {
        transition: all 0.2s;
        transform: translateZ(10);
        z-index: 3;
        background-color: white;
    }
    #write_finish_button {
        padding: 5px;
        border: 1px solid white;
        border-radius: 5px;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        font-weight: 2000;
        color: #57af4c;
        text-align: center;
        width: 80px;
        height: 30px;
        margin: 3 1 0 100;
    }
    #write_finish_button:hover {
        color: #57af4c;
        background-color: rgb(210, 210, 210);
    }
    .select_score {
        display: inline-block;
        padding: 5px;
        position: relative;
        padding-left: 20px;
    }
    .select_homework {
        display: inline-block;
        padding: 5px;
        position: relative;
        padding-left: 20px;
    }
    .select_exam {
        display: inline-block;
        padding: 5px;
        position: relative;
        padding-left: 20px;
    }
    label {
        display: inline-block;
        padding: 5px;
        position: relative;
        padding-left: 20px;
    }
    label input {
        display: none;
    }
    label span {
        border: 1px solid #ccc;
        width: 15px;
        height: 15px;
        position: absolute;
        overflow: hidden;
        line-height: 1;
        text-align: center;
        border-radius: 100%;
        font-size: 10pt;
        left: 0;
        top: 50%;
        margin-top: -7.5px;
    }
    input:checked+span {
        background: #ccf;
        border-color: #ccf;
    }
    #imgdown_button {}
    #view_review {
        padding: 3px 5px;
        border: 1px solid white;
        margin: auto;
        border-radius: 5px;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color: #57af4c;
        text-align: center;
        transition: all 0.2s;
        font-size: 11px;
    }
    body {
        background-color: rgb(248, 249, 250);
        margin: 0;
        padding: 0;
    }
    #login_back {
        background-color: white;
        padding: 10px;
    }
    .line {
        display: grid;
        grid-template-columns: 1fr 320px 0 1fr;
    }
    .subject_button {
        display: grid;
        grid-template-columns: 1fr 85px;
    }
    #search_group {
        display: grid;
        grid-template-columns: 240px 1fr;
    }
    .subject_button2 {
        display: grid;
        grid-template-columns: 1fr 50px 38px;
    }
    .subject_button7 {
        display: grid;
        grid-template-columns: 1fr 38px;
    }
    .select_review_button {
        display: none;
    }
    .select_review_button2 {
        padding: 1px 1px;
        border: 1px solid white;
        border-radius: 5px;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        font-weight: 2000;
        color: black;
        text-align: center;
        transition: all 0.2s;
        width: 45px;
        font-size: 7px;
    }
    .select_review_button2:hover {
        color: #57af4c;
        background-color: rgb(210, 210, 210);
    }
    table {
        border: 0.1px solid #444444;
        border-collapse: collapse;
        font-size: 5px;
    }
    th,
    td {
        border-collapse: collapse;
    }
    th {
        height: 20px;
        background-color: white;
        color: black;
        border-right: 1px solid #444444;
        width: 50px;
        font-size: 7;
        font-weight: 100;
    }
    td {
        width: 50px;
        height: 20px;
        text-align: center;
    }
    tr {
        border-bottom: 1px dotted rgb(200, 200, 200);
    }
    #review_table {
        width: 200px;
        background-color: rgb(240, 240, 240);
        border-radius: 5px;
        border-color: white;
        position: absolute;
        top: 40px;
    }
    .table {
        width: 300px;
        border: 0px;
    }
    #days {
        font-size: 10px;
        font-weight: 500;
        border-bottom: 1px solid #444444;
    }
    #subject_table {
        background-color: rgb(240, 240, 240);
        border-radius: 5px;
        margin: 1px;
        min-height: 45px
    }
    #subject_table:hover {
        color: white;
        background-color: rgb(109, 207, 96);
    }
    #subject_table1 {
        font-size: 5px;
        text-align: left;
        padding-left: 10px;
        padding-top: 4px;
        height: 20px;
        transition: all 0.2s;
    }
    #subject_table1_1 {
        display: inline;
        width: 190px;
        height: 20px;
        overflow: auto;
    }
    #subject_table2 {
        font-size: 4px;
        padding-left: 10px;
        text-align: left;
        width: 200px;
    }
    #subject_table3 {
        font-size: 5px;
        padding-left: 40px;
        align: right;
        display: inline;
    }
    p {
        display: inline
    }
    a {
        text-decoration: none;
        color: #57af4c;
    }
    #button_subject_table {
        padding: 3px 5px;
        border: 1px solid white;
        margin: 0 0.3em 0.3em 0;
        border-radius: 5px;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color: #57af4c;
        text-align: center;
        transition: all 0.2s;
        font-size: 11px;
    }
    #button_subject_table:hover {
        color: #57af4c;
        background-color: rgb(210, 210, 210);
    }
    #result_bag {
        background-color: rgb(240, 240, 240);
        border-radius: 5px;
        width: 300px;
        margin: 0;
    }
    #result_bag1 {
        text-align: left;
        margin-left: 10px;
    }
    #result {
        color: #57af4c;
        font-weight: 1000;
        font-size: 12px;
        padding: 6px;
        height: 10px;
        padding-top: 5;
        padding-bottom: 10;
    }
    #sum {
        color: #57af4c;
        font-size: 5px;
    }
    #result_bag1 {
        font-size: 5px;
        padding: 5px;
        border-top: 1px solid rgb(200, 200, 200);
    }
    #search {
        padding: 5px;
        border: 0px solid;
        font-size: 7px;
    }
    #search_group {
        border: 1px solid rgb(200, 200, 200);
        width: 300px;
        margin: 0;
        padding: 0;
    }
    .table_body {
        height: 350px;
        overflow: auto;
    }
    .table_body::-webkit-scrollbar {
        width: 10px;
    }
    .table_body::-webkit-scrollbar-thumb {
        background-color: #57af4c;
        border-radius: 10px;
    }
    .table_body::-webkit-scrollbar-track {
        background-color: grey;
        border-radius: 10px;
        box-shadow: inset 0px 0px 5px white;
    }
    select:not(:-internal-list-box) {}
    form {
        margin: 0;
    }
    #alert {
        font-size: 6px;
        position: relative;
        padding: .75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: .25rem;
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }
    #tr_noline {
        border: 0px solid;
    }
    #bottom_design {
        background-color: #a7a7a7;
        padding: 35px;
        padding-top: 20px;
        text-align: center;
        color: white;
        font-size: 7px;
        font-weight: 300;
        padding-bottom: 10px;
    }
    .bottom_text {
        font-design: none;
        color: blue;
        font-size: 6px;
    }
    #login_copyright1 {
        padding-top: 20px;
        color: black;
        font-size: 1px;
    }
    #login_copyright2 {
        margin: 10px;
        margin-top: 0px;
        color: black;
        font-size: 1px;
    }
    #btn_search {
        padding: 7px 7px;
        border: 0px;
        color: white;
        text-align: center;
        background-color: #57af4c;
        font-size: 7px;
        border-radius: 5px;
        margin-top: 2px;
        position: relative;
        width: 296px;
    }
    #btn_search:hover {
        background-color: #376e2f;
    }
    input[type="search"] {
        border: 1px solid black;
        background: white!important;
        width: 296px;
        font-size: 7px;
        padding: 7px;
        text-transform: none;
        color: black;
        margin-top: 2px;
        margin-left: auto;
        position: relative;
    }
    input[name:"professor"] {
        border: 1px solid black;
        background: white!important;
        width: 140px;
        font-size: 7px;
        padding: 7px;
        text-transform: none;
        color: black;
    }
    select {
        padding: 3px;
        background-color: rgb(240, 240, 240);
        width: 95px;
        font-size: 5px;
    }
    #so {
        padding: 5px;
        margin: 1px;
        background-color: rgb(240, 240, 240);
        width: 296;
    }
    select:hover {
        padding: 3px;
        background-color: white;
    }
    #selectbox {
        margin: 0 auto;
    }
    .form-group col-12 {
        display: inline;
    }
    .input-group {
        display: inline;
    }
    .search2_1 {
        width: 146px!important;
        float: left;
        margin-right: 4px;
    }
}