<table id="table1" width="600" style="color: #121212 ">
    <tr >
        <th ></th>
        <th id="days" >Mon</th>
        <th id="days" >Tue</th>
        <th id="days" >Wed</th>
        <th id="days" >Thu</th>
        <th id="days" >Fri</th>
    </tr>
    <tr>
        <th >09:00</th>
        <td ></td>
        <td ></td>
        <td ></td>
        <td ></td>
        <td ></td>
    </tr>

    <tr>
        <th >10:00</th>
        <td ></td>
        <td ></td>
        <td ></td>
        <td ></td>
        <td ></td>
    </tr><tr>
    <th >11:00</th>
    <td ></td>
    <td ></td>
    <td ></td>
    <td ></td>
    <td ></td>
</tr><tr>
    <th >12:00</th>
    <td ></td>
    <td ></td>
    <td ></td>
    <td ></td>
    <td ></td>
</tr><tr>
    <th >13:00</th>
    <td ></td>
    <td ></td>
    <td ></td>
    <td ></td>
    <td ></td>
</tr><tr>
    <th >14:00</th>
    <td ></td>
    <td ></td>
    <td ></td>
    <td ></td>
    <td ></td>
</tr><tr>
    <th >15:00</th>
    <td ></td>
    <td ></td>
    <td ></td>
    <td ></td>
    <td ></td>
</tr><tr>
    <th >16:00</th>
    <td ></td>
    <td ></td>
    <td ></td>
    <td ></td>
    <td ></td>
</tr><tr>
    <th >17:00</th>
    <td ></td>
    <td ></td>
    <td ></td>
    <td ></td>
    <td ></td>
</tr><tr>
    <th >18:00</th>
    <td ></td>
    <td ></td>
    <td ></td>
    <td ></td>
    <td ></td>
</tr><tr>
    <th >19:00</th>
    <td ></td>
    <td ></td>
    <td ></td>
    <td ></td>
    <td ></td>
</tr><tr>
    <th >20:00</th>
    <td ></td>
    <td ></td>
    <td ></td>
    <td ></td>
    <td ></td>
</tr><tr>
    <th >21:00</th>
    <td ></td>
    <td ></td>
    <td ></td>
    <td ></td>
    <td ></td>
</tr>
</table>